<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Motorcycles</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="MyScript.js"></script>
</head>
<body>
   
    <input type="button" id="listMotos" value="Listeaza motociclete" />
    <table id="tabelMoto">
    </table>
    
    <p>Brand: <input type="text" id="inputBrand" /></p>
    <p>Model: <input type="text" id="inputModel" /></p>
    <p>Year: <input type="text" id="inputYear" /></p>
    <input type="button" id="insertMoto" value="Adauga motocicleta" />
</body>
</html>
