@model IEnumerable<EmployeesManagers.City>

<select name="CityId" id="city">
    <option value="">- No city -</option>
    @foreach (var item in Model)
    {
        <option value="@(item.Id)">@(item.Name)</option>
    }
</select>
